*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* ## General */

h1 {
	font-size: 2.5em;
}

span {
	pointer-events: none;
}

body {
	font-family: 'JetBrains Mono', monospace;
	font-optical-sizing: auto;
	font-style: normal;
	color: #333;
	background-color: #f5f5f5;
}

.center {
	max-width: fit-content;
	margin: 0 auto;
	text-align: center;
}

.right-side,
.score-queue,
.slidein,
.shake {
	position: relative;
}

/* ## Visibility */

.hidden {
	visibility: hidden;
}
.none {
	display: none;
	visibility: hidden;
}

.transparent {
	opacity: 0.2;
}

.active {
	padding: auto;
	scale: 1.1;
	outline: 5px solid #ffa500;
}

/* ## Buttons */
#back {
	margin: 5px;
}

button {
	background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #666;
}

button:active {
	box-shadow: #d6d6e7 0 3px 7px inset;
	transform: translateY(2px);
}

/* ## Styling */
#options {
	border: 3px solid #fff;
	border-radius: 10px;
	padding: 30px;
}

input[type='number'] {
	width: 100px;
}

.score-queue {
	height: 20px;
	padding-left: 10px;
	text-align: start;
	bottom: 20%;
}

.player-list {
	margin: 50px 5px;
}

.player-list > li {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 0 5px 10px;
	font-weight: 700;
	cursor: pointer;
}

.player-list > li:hover {
	border-color: red;
	color: red;
}

.grid-2 {
	margin-bottom: 10px;
	display: grid;
	height: 32px;
	grid-template-columns: 1fr max-content;
}

/* ## Dice */

.die {
	display: grid;
	width: fit-content;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	background-color: whitesmoke;
	border-radius: 15%;
	padding: 10px;
	border: 1px solid slategrey;
	box-shadow: 10px 10px 10px slategrey;
}

.die > i {
	pointer-events: none;
	height: 50px;
	width: 50px;
}

.die-dot {
	box-shadow: inset -10px -10px 10px black;
	background-color: #555;
	border-radius: 50%;
}

.grid {
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
}

#dice-select {
	scale: 0.5;
}

.float-container {
	display: flex;
	max-width: max-content;
}

.float-child {
	float: left;

	margin-top: 20px;
	margin-bottom: 20px;
}

#splash {
	z-index: 2;
	height: 0;
	padding: 0;
	text-align: center;
	color: #ffa500;
	-webkit-text-stroke: 1px rgb(192, 92, 4);
}

/* ## Animations */

.slidein {
	animation: slidein 0.4s;
}

.shake {
	animation: shake 0.4s alternate 3;
}

.anim-splash {
	animation: anim-splash 0.5s alternate 6;
}
.glow {
	animation: anim-glow 0.5s infinite alternate;
}

#dice-container div:nth-child(even) {
	animation-direction: alternate-reverse;
}

@keyframes anim-glow {
	from {
		box-shadow: 0 0 10px 0px cyan;
	}
	to {
		box-shadow: 0 0 10px 10px cyan;
	}
}

@keyframes slidein {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes anim-splash {
	0% {
		scale: 2;
		rotate: 0;
	}
	33% {
		rotate: 5deg;
		filter: blur(1px);
	}
	66% {
		rotate: -5deg;
	}
	100% {
		rotate: 0;
	}
}

@keyframes shake {
	0% {
		rotate: 0;
		left: 0px;
	}
	33% {
		rotate: 5deg;
		left: 50px;
		filter: blur(1px);
	}
	66% {
		rotate: -5deg;
		left: -50px;
	}
	100% {
		rotate: 0;
		left: 0px;
	}
}

/* ## Responsive */
@media (max-width: 500px) {
	.player-list {
		margin: 0;
		display: flex;
		flex-wrap: wrap;
	}
	.grid {
		grid-template-columns: auto;
	}
}
